#map {
	height: 100%;
	width: 90%;
}

.user {
	width: 200px;
	padding: 5px;
	text-transform: capitalize;
}

.user .username {
	margin-right: 5px;
	font-size: 15px;
	font-weight: bold;
}

.user img {
	padding-right: 5px;
	height: 38px;
}

.user .description {
	display: flex;
	padding-left: 5px;
	align-items: bottom;
}

.user span {
	margin-left: 5px;
	font-size: 11px;
	color: gray;
}

.userstatus {
	margin-bottom: 2px;
	border-bottom: solid gray 1px;
}

.user h6 {
	margin: 0 0 0 5px;
	font-size: 9px;
}

.userip {
	display: flex;
	padding: 5px;
	font-size: 12px;
}

.userip p {
	font-size: 10px;
}

.company {
	width: 250px;
	text-transform: capitalize;
}

.status-icon {
	margin-top: 1px;
	height: 18px;
	width: 18px;
	border-radius: 50%;
}
